# for shell mode under emacs ; -*- mode: sh; -*-
# keyboard / lang
skipx
lang en_US.UTF-8
keyboard us

# autoreboot at the end
reboot

# suppress the eula 'hit return'
eula --accept

# set a root password we can remember
rootpw --plaintext r

# TZ
timezone Europe/Paris --isUtc

# sample user
user --groups=wheel --name=esa --password=e

# Use NFS
nfs --server=((res_admin)).((host_id_nfs)) --dir=/mnt/iso/((dist)) --opts=ro
# Use text mode install
text

# no SELinux nor firewall
selinux --disabled
firewall --disabled

# disk : only a simple partition, no swap
clearpart --all --initlabel --drives=vda
part / --fstype=xfs --grow
#

# System bootloader configuration
bootloader --location=mbr --boot-drive=vda

# Network information
network --bootproto=static --ip=((res_admin)).((host_id)) --netmask=255.255.255.0 --hostname=((hostname))

%packages
@core
-wl2030-firmware  
-iwl105-firmware   
-iwl135-firmware   
-iwl2000-firmware  
-iwl3945-firmware  
-iwl5000-firmware  
-iwl7260-firmware  
-ivtv-firmware     
-iwl6050-firmware  
-iwl100-firmware   
-iwl3160-firmware  
-iwl6000g2a-firmware
-iwl7265-firmware  
-iwl1000-firmware  
-iwl6000-firmware  
-iwl4965-firmware  
-iwl6000g2b-firmware
-iwl5150-firmware
-iwl2030-firmware
-NetworkManager-wifi
-NetworkManager-tui
-selinux-policy-targeted
-kbd-legacy
-kbd
-chrony
-aic94xx-firmware
-libselinux-python
-libselinux
-libselinux-utils
-postfix
-alsa-tools-firmware
-alsa-lib
-alsa-firmware
-dhclient
-dhcp-common
-dhcp-libs
-wpa_supplicant
-btrfs-progs
-openldap
-policycoreutils

# for arp
net-tools
# for diagnostics
openssh-clients
openssh-server
# for ntp
ntp
# for nfs
nfs-utils
%end

# ===================== POST ==================
%post --log=/tmp/ks-post.log
echo "POST : starting"

# ---------- BASH ----------
echo "bash custo"

cat <<EOF >>/root/.bashrc
alias la='ls -la --color'
alias m=less
alias h=history

EOF

cat <<EOF >>/home/esa/.bashrc
alias la='ls -la --color'
alias m=less
alias h=history

EOF

# ---------- SSH ----------
echo "- ssh config"

mkdir -m0700 /root/.ssh/

ssh-keygen -t rsa -f /root/.ssh/id_rsa -N ''

# TODO : make customizable
cat <<EOF > /root/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4je5atkdrcESaRCke9wS6sZ+XvckECr81HhfJnCdQTouTSOkfkdyMnkCH+sU9Sdsbt7RpadarvQSb4hgRcop+K/iBmkkzicnhtyXxy3q/aXU40jaYvet7mubs93QYt7ozvjFqOUxnMLL99HsEVibIgykBi6+Rtio0ogL23kF08gI5k2AxhM/6bs7zIULEFRSli67kxDfM9ozQ2FhgAJHwEaqmymZpOGNt7gNsD02R3cDtkAt7g9ZmcaNOQlFDEpTjHROoEJyEVZSxTIiL9DANBu8kc7LxoIP1SkKuIPpxsBYZJeJx3RtBeIXP6O5+1SfqOVHgUSuKqt+hRq4RFMY3 root@ebrox
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDfbl/kVn84JIDUq9McmtjHb5Kt2BOJ6Tb81xp1q4QFmTuCGbdZB8ux4A020qo2JMQOuBVoo6jZQ1oEc/8+uf7uyAzE0xOuy7L++lbrpN9nvIPZPunhthw4ItzWsw74S+5tcN7NnzT1O+FD/FoDlXYcQxQYjlTDpX/wZF246uEfdCCqBHJXEqs+PqZUuasErdghr7RhxzeZELk3Epm5xBZLEcHWT4GClOKx/f5r/bTfF4vB1e9EkveSz8rSTaZL4QAYBhLpnGTJdL6hF0u5V8y60eXQBLL4XdLIMBlNYMYZszSQnbv7p9xKXnTYuP2iiHDPOiDgmgcwoPtQfdhz//MT root@edino
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCWl3lgjN/9NVNZ26NdQcNx7FoSox84f1jC52lCN8yHPuojgwu3rzuFdoaSf6+vio8XAIxVMTCt0EncdhsrNYNDNOvthURsIC+cnFtZlOnuw3eQTOexIKVc2v3hwXvpGayp7H0/9iQRmOS5aBUq/j86Hse+YMptc/rAG1Mj5s8Q0oCmKEz717RHSTxji3q2wL6n4ue7jkg1ozaeWXr5fQ3OGvRGPyfz+RPrDetO/1LMsthPeJlyp44pmOh3xdrsn30Mf6k+5/LjBEd4cQ5mB49l9bfyBeRHw4traq5JvVu4PJqWoq1N05I9xaygKwliBcz+RTkKnY9fdge3TyBKtrj/ root@edopi
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDhXXmgspiJ9vPhLLOuBCYNvqe7MhtBtotVtvBBG6flVLnvw5znGQlk2k7xgLLF/6W6ResbtqhWTAmg+2FPhcoivxzKGGIsbFGGRyKXOCt4Trq2eHMELllSplJbcqRoBPF1mbA593ojK8LVR0Rlw3T8ymqAEwhz5+51Iptl7TLKRkm4r1k2lYBM4WdaaHZlpLvO7+uXaZoqFH6LKErt6Xh07bEqL05+Pvzvc/Fm1GRHZJeEwqD8tnGBwhRmXZFgGXetQovPfjh6eTJLoSBfr1xgWAhocNPnlaZGNiehcvnd2OCwHU01HkIPD372BJubTWa260tSINv37cTE+BCD7kyB jjansou@PLEC0NQHPU
EOF

chmod 0600 /root/.ssh/authorized_keys

mkdir -m0700 /home/esa/.ssh
chown esa.esa /home/esa/.ssh
cat <<EOF > /home/esa/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDhXXmgspiJ9vPhLLOuBCYNvqe7MhtBtotVtvBBG6flVLnvw5znGQlk2k7xgLLF/6W6ResbtqhWTAmg+2FPhcoivxzKGGIsbFGGRyKXOCt4Trq2eHMELllSplJbcqRoBPF1mbA593ojK8LVR0Rlw3T8ymqAEwhz5+51Iptl7TLKRkm4r1k2lYBM4WdaaHZlpLvO7+uXaZoqFH6LKErt6Xh07bEqL05+Pvzvc/Fm1GRHZJeEwqD8tnGBwhRmXZFgGXetQovPfjh6eTJLoSBfr1xgWAhocNPnlaZGNiehcvnd2OCwHU01HkIPD372BJubTWa260tSINv37cTE+BCD7kyB jjansou@PLEC0NQHPU
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC2VEHPZvBNexZeNxCZTA65isbjIjpKIiefkDXj3tuw+Bd18m6RhYO1stQOoHaoWnk++jmmy+UIHY8c8IKqgvZgEy1fBZcMoFefG5JnPToM+P6Q6e48VfKqI/0HoLkgCDnj8Z7Ldm1DV/Vl2VXCNNymcmiZN1WUfdScAoYVgqBzj6V+XmB5jzXLZnImMwec1HWGZbhbDd5HzqGbbu49aM+yWUudZ8TtWmso4PqbIiUtPvzI05Yuej6wiodUhGQuj3oz89Qaht+SFOFLrVQnTY3TNlLQSrUQa8jBDJj90QAMkhl+Fj3eae3ZO8vO8UWvm6gkDKpbNZzAsyZhX9dKjWXF esadmin@mindi
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDFS5AuZm6Ja444Gzn1I/65S7JVuxTA5W6eLuy50ehBxAFVv8/nFvbO6gl0r/cDJw5QSGNLWaDLMG2yLvmmT217WsTP8GUcQPpaOTQMzscSsmKstH4Lbh0H9JJNUWusxyIXbfYdJyo9XAsvhAOe2E0nPs7MC9H15XkNS1HIra8gzhqL/9K/ZL294xoZ/NQD2b1IEaxpkSEjq34zKi9gAnSpt707hHYTtlHrNP9ZzskGXVIGkhTp5jGeQBY0DlWCCvAIwqlXC8i5vJGXgrRsrsvdlmID9LSmArjjoCgvL6mB2QRtpxnMlDPOVjUt31s7/xz1y4ScrHZy+ex6O6/CLTw3 esadmin@matix
EOF
chown esa.esa /home/esa/.ssh/authorized_keys


# ---------- NTP ----------
echo "- ntp config"
cat <<EOF >> /etc/ntp.conf
server ((res_admin)).((host_id_nfs))
EOF

systemctl enable ntpd

# ---------- HOSTS ----------
echo "- /etc/hosts completion (with local adresses)"
cat <<EOF>> /etc/hosts

((hosts))
__hosts__
EOF

# ---------- NFS MOUNTS ----------
echo '- nfs mount point on distro'
mkdir /mnt/iso
mkdir /mnt/iso/((dist))
mkdir /mnt/t
cat <<EOF >> /etc/fstab
((res_admin)).((host_id_nfs)):/mnt/iso/((dist)) /mnt/iso/((dist)) nfs ro
((res_admin)).((host_id_nfs)):/kvm/t /mnt/t nfs rw

EOF

mount -a

# ---------- YUM REPOS SET ON NFS ----------
echo "- repo fix"
mkdir /etc/yum.repos.d/old
mv /etc/yum.repos.d/*repo /etc/yum.repos.d/old
cat <<EOF > /etc/yum.repos.d/local.repo
[base]
name=CentOS-7 - Base
baseurl=file:///mnt/iso/((dist))
gpgcheck=0
EOF

# ---------- YUM UPDATE ----------
echo "- yum update"
yum clean all
yum -y update 

# ----- no ipv6 from boot (grub) -----
sed -i '/vmlinuz/ s/$/ ipv6.disable=1 /' /boot/grub2/grub.cfg

echo "POST: DONE!"
%end
