# for shell mode under emacs ; -*- mode: sh; -*-
# keyboard / lang
skipx
lang en_US.UTF-8
keyboard us

# autoreboot at the end
reboot

# suppress the eula 'hit return'
eula --accept

# set a root password we can remember
rootpw --plaintext r

# TZ
timezone Europe/Paris --isUtc

# sample user
user --groups=wheel --name=esa --password=e

# Use NFS
nfs --server=((res_admin)).((host_id_nfs)) --dir=/mnt/iso/((dist)) --opts=ro
# Use text mode install
text

# no SELinux nor firewall
selinux --disabled
firewall --disabled

# disk : only a simple partition, no swap
clearpart --all --initlabel --drives=vda
part / --fstype=xfs --grow
#

# System bootloader configuration
bootloader --location=mbr --boot-drive=vda

# Network information
network --bootproto=static --ip=((res_admin)).((host_id)) --netmask=255.255.255.0 --hostname=((hostname))

%packages
@core
-wl2030-firmware  
-iwl105-firmware   
-iwl135-firmware   
-iwl2000-firmware  
-iwl3945-firmware  
-iwl5000-firmware  
-iwl7260-firmware  
-ivtv-firmware     
-iwl6050-firmware  
-iwl100-firmware   
-iwl3160-firmware  
-iwl6000g2a-firmware
-iwl7265-firmware  
-iwl1000-firmware  
-iwl6000-firmware  
-iwl4965-firmware  
-iwl6000g2b-firmware
-iwl5150-firmware
-iwl2030-firmware
-NetworkManager-wifi
-NetworkManager-tui
-selinux-policy-targeted
-kbd-legacy
-kbd
-chrony
-aic94xx-firmware
-libselinux-python
-libselinux
-libselinux-utils
-postfix
-alsa-tools-firmware
-alsa-lib
-alsa-firmware
-dhclient
-dhcp-common
-dhcp-libs
-wpa_supplicant
-btrfs-progs
-openldap
-policycoreutils

# for arp
net-tools
# for diagnostics
openssh-clients
openssh-server
# for ntp
ntp
# for nfs
nfs-utils
%end

# ===================== POST ==================
%post --log=/tmp/ks-post.log
echo "POST : starting"

# ---------- BASH ----------
echo "bash custo"

cat <<EOF >>/root/.bashrc
alias la='ls -la --color'
alias m=less
alias h=history

EOF

# ---------- SSH ----------
echo "- ssh config"

mkdir -m0700 /root/.ssh/

ssh-keygen -t rsa -f /root/.ssh/id_rsa -N ''

# TODO : make customizable
cat <<EOF > /root/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4je5atkdrcESaRCke9wS6sZ+XvckECr81HhfJnCdQTouTSOkfkdyMnkCH+sU9Sdsbt7RpadarvQSb4hgRcop+K/iBmkkzicnhtyXxy3q/aXU40jaYvet7mubs93QYt7ozvjFqOUxnMLL99HsEVibIgykBi6+Rtio0ogL23kF08gI5k2AxhM/6bs7zIULEFRSli67kxDfM9ozQ2FhgAJHwEaqmymZpOGNt7gNsD02R3cDtkAt7g9ZmcaNOQlFDEpTjHROoEJyEVZSxTIiL9DANBu8kc7LxoIP1SkKuIPpxsBYZJeJx3RtBeIXP6O5+1SfqOVHgUSuKqt+hRq4RFMY3 root@ebrox
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDfbl/kVn84JIDUq9McmtjHb5Kt2BOJ6Tb81xp1q4QFmTuCGbdZB8ux4A020qo2JMQOuBVoo6jZQ1oEc/8+uf7uyAzE0xOuy7L++lbrpN9nvIPZPunhthw4ItzWsw74S+5tcN7NnzT1O+FD/FoDlXYcQxQYjlTDpX/wZF246uEfdCCqBHJXEqs+PqZUuasErdghr7RhxzeZELk3Epm5xBZLEcHWT4GClOKx/f5r/bTfF4vB1e9EkveSz8rSTaZL4QAYBhLpnGTJdL6hF0u5V8y60eXQBLL4XdLIMBlNYMYZszSQnbv7p9xKXnTYuP2iiHDPOiDgmgcwoPtQfdhz//MT root@edino
EOF

chmod 0600 /root/.ssh/authorized_keys

# ---------- NTP ----------
echo "- ntp config"
cat <<EOF >> /etc/ntp.conf
server ((res_admin)).((host_id_nfs))
EOF

systemctl enable ntpd

# ---------- HOSTS ----------
echo "- /etc/hosts completion (with local adresses)"
cat <<EOF>> /etc/hosts

((hosts))
__hosts__
EOF

# ---------- NFS MOUNTS ----------
echo '- nfs mount point on distro'
mkdir /mnt/iso
mkdir /mnt/iso/((dist))
mkdir /mnt/t
cat <<EOF >> /etc/fstab
((res_admin)).((host_id_nfs)):/mnt/iso/((dist)) /mnt/iso/((dist)) nfs ro
((res_admin)).((host_id_nfs)):/kvm/t /mnt/t nfs rw

EOF

mount -a

# ---------- YUM REPOS SET ON NFS ----------
echo "- repo fix"
mkdir /etc/yum.repos.d/old
mv /etc/yum.repos.d/*repo /etc/yum.repos.d/old
cat <<EOF > /etc/yum.repos.d/local.repo
[base]
name=CentOS-7 - Base
baseurl=file:///mnt/iso/((dist))
gpgcheck=0
EOF

# ---------- YUM UPDATE ----------
echo "- yum update"
yum clean all
yum -y update 

echo "POST: DONE!"
%end
